*{
    margin: 0;
    padding: 0;
}

body {
    background-color: wheat;
}

.titulo {
    text-align: center;
    background-color: lightsalmon;
    color: white;
    font-size: 2.5rem;
}

section h2 {
    padding: 1rem;
    background-color: #ffa07a17;
}

.estiloProductos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.tituloVela {
    border: 1px solid black;
    padding: 0.2rem;
}

.btnCarritoPadre {
    text-align: center;
}

.btnCarrito {
    padding: 1rem;
    background: lightsalmon;
}

#descuento {
    display: flex;
    align-items: center;
}

#btnSi{
    margin: 1rem;
    padding: 0.1rem;
    width: 4rem;
    font-size: 1.1rem;
}

