* {
	margin: 0;
	padding: 0;
}

body {
    background-color: wheat;
}

.titulo {
    text-align: center;
    background-color: lightsalmon;
    padding: 2rem;
    color: white;
    font-size: 2.5rem;
}

.diseñoHTML {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.diseñoCards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.buscarProd{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

.buscarProd h2 {
    padding-bottom: 1rem;
}

.tituloDatos {
  padding-top: 2rem;
}

.contenedorCards {
	width: 75vw;
}

.contenedorGrid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
	grid-gap: 2rem;
    padding: 1rem;
}

.card {
	background: white;
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 14rem;
}

.tituloCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fotoInvisible {
  background-color: #ffa07a54;
  margin: 0.5rem;
  padding: 3rem;
  width: 5rem;
}

.textoCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textoCard p {
  padding: 0.3rem;
}

.btnCarrito {
    padding: 0.5rem;
    background: lightsalmon;
}

.enviado{
  background-color: #7c564857;
  padding: 1rem;
}

.listaIzq {
  padding: 1rem;
}

#descuento{
  display: flex;
  align-items: center;
}

#btnSi {
  padding: 0.5rem;
  width: 4rem;
}

.precios {
  padding: 1rem;
}

.resultBusqPrecio {
  padding: 0.5rem;
}

.carrito {
  border: 1px solid black;
  margin-top: 4rem;
  padding: 1rem;
}